body {
  background: #152935;
}

.graph {
  position: relative;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.graph svg {
  width: 100%;
  height: 100%;
}

.graph svg text {
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.5em;
  fill: #AEB8B8;
}

.graph svg .background {
  fill: #264A60;
}

.graph svg .visual {
  fill: #EFC100;
}