body {
  background: black;
}


h3{
	margin-top:500px;
}
p{
	margin-bottom:50px;
}
.table_bottom{
	margin-bottom:30px;
}
#table_content_top{
	border-collapse: collapse;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #fff;
	color: white;
	width:1200px;
}
#table_content_top a{
	text-decoration: none;
	color:#FFF;
}
#table_content_top a:HOVER {
	text-decoration: underline;
	color:#FFF;
}
#table_content{
	border-collapse: collapse;
	border-top-width: 0.5px;
	border-bottom-width: 0.5px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-bottom-color: #F4FFF7;
	border-top-color: #F4FFF7;
	color: white;
	width:1200px;
}
#table_content th,td{
	margin: 0px;
	padding: 8px;
	font-size: 18px;
}
#table_content th{
	background-color: #7F1919;
	color:#fff;
	border-bottom-width: 1px;
	border-bottom-color: #A48B8B;
}
#table_content td{
	border-bottom-width: 1px;
	border-bottom-color: #666;
	border-bottom-style: dotted;
}
#table_content .dataTr:HOVER {
	background-color: #FC6;
	cursor: pointer;
	cursor: hand;
}
#table_content .tdcenter{
	text-align: center;
}
#table_content .tdleft{
	text-align: left
}
#table_content a{
	text-decoration: none;
	color:#FFF;
}
#table_content a:HOVER {
	text-decoration: underline;
	color:#FFF;
}
a{
	text-decoration: none;
	color:#FFF;
}
a:HOVER {
	text-decoration: underline;
	color:#CCFFCC;
}






