#table_content{
	border-collapse: collapse;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-bottom-color: #fff;
	border-top-color: #fff;
	color: white;
}
#table_content th,td{
	margin: 0px;
	padding: 8px;
	font-size: 9pt;
}
#table_content th{
	background-color: #999;
	color:#fff;
	border-bottom-width: 1px;
	border-bottom-color: #fff;
}
#table_content td{
	border-bottom-width: 1px;
	border-bottom-color: #666;
	border-bottom-style: dotted;
}
#table_content .dataTr:HOVER {
	background-color: #FC6;
	cursor: pointer;
	cursor: hand;
}
#table_content .tdcenter{
	text-align: center;
}
#table_content .tdleft{
	text-align: left
}
#table_content a{
	text-decoration: none;
	color:#FFF;
}
#table_content a:HOVER {
	text-decoration: underline;
	color:#FFF;
}
a{
	text-decoration: none;
	color:#FFF;
}
a:HOVER {
	text-decoration: underline;
	color:#CCFFCC;
}






