<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	<aop:aspectj-autoproxy/>
	<context:annotation-config/>
	
	<context:component-scan base-package="com.sist.*"/>
	
	 <hadoop:configuration id="hadoopConf">
     fs.default.name=hdfs://localhost:9000
    </hadoop:configuration>
    
  												 <!--  1. emotion  -->
    <hadoop:job id="emotion"			
      input-path="/input/emotion"
      output-path="/output/emotion"
      mapper="com.sist.mapredEmotion.EmotionMapper"
      reducer="com.sist.mapred.MovieReducer"
      configuration-ref="hadoopConf"
      scope="request"
    />
    <hadoop:job-runner  id="emotionj"
     job-ref="emotion"
      run-at-startup="false"
    />
    											 <!--  2. who  -->
    <hadoop:job id="who"			
      input-path="/input/who"
      output-path="/output/who"
      mapper="com.sist.mapredWho.WhoMapper"
      reducer="com.sist.mapred.MovieReducer"
      configuration-ref="hadoopConf"
      scope="request"
    />
    <hadoop:job-runner  id="whoj"
     job-ref="who"
      run-at-startup="false"
    />
     											 <!-- 3. when  -->
    <hadoop:job id="when"			
      input-path="/input/when"
      output-path="/output/when"
      mapper="com.sist.mapredWhen.WhenMapper"
      reducer="com.sist.mapred.MovieReducer"
      configuration-ref="hadoopConf"
      scope="request"
    />
    <hadoop:job-runner  id="whenj"
     job-ref="when"
      run-at-startup="false"
    />
     											 <!--  4. bestorworst  -->
    <hadoop:job id="bestorworst"			
      input-path="/input/bestorworst"
      output-path="/output/bestorworst"
      mapper="com.sist.bestorworst.BestOrWorstMapper"
      reducer="com.sist.mapred.MovieReducer"
      configuration-ref="hadoopConf"
      scope="request"
    />
    <hadoop:job-runner  id="bestorworstj"
     job-ref="bestorworst"
      run-at-startup="false"
    />
	
	<!-- Tiles -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		p:requestContextAttribute="requestContext" 
		p:viewClass="org.springframework.web.servlet.view.tiles2.TilesView"/>
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer" 
		p:definitions="/WEB-INF/tiles.xml"/>	
	

</beans>
